
.chat{
  padding: 16px 20px ;
  border: 1px solid #555 ;
  position: fixed ;
  bottom: 0px ;
  right:0px ;
  height:4px ;
  width: 190px ;
  background: #f1f7f1 ;
  z-index: 1 ;
}

.fas.fa-bell{
  margin-bottom: 10px ;
}
.open-button{

  background-color: transparent ;
  width: 160px ;
  margin-top: -13px ;
  margin-left:-19px ;
  border: none ;
  cursor: pointer ;
  outline:none ;
}
/*icona  */

.fas.fa-ban{
  color:red ;
}
.fa.fa-check{
  margin-top: -33px ;
  float: right ;
  margin-right: 10px ;
  color: rgb(113, 162, 235) ;
}

.blockUser, .unlockUser{
  border: none ;
  background-color: transparent;
  font-size: 13px ;
  cursor: pointer ;
}

.open-button h5{
  float: left ;
  color:black ;
  padding-left: 10px ;
 
}
.buttonsChatClose{
  float: right ;
  margin-top: -40px ;
  margin-right: -10px ;
}
 

#notify{
  font-size:20px ;
  border:none ;
  background-color: transparent ;
  cursor: pointer;
  outline:none ;
}

#settingsChatSingle{
  font-size:20px ;
  border:none ;
  background-color: transparent ;
  cursor: pointer ;
  outline:none ;
  
}
#notifyChat{
  font-size:20px ;
  border:none ;
  background-color: transparent ;
  cursor: pointer ;
  outline:none ;
}

#optionsSettingChat{
  background: lightgrey ;
  z-index: 10 ;
  width: 120px ;
  height: auto;
  border-radius: 5px t;
  position: absolute ;
  top: 30px ;
  left: 115px ;
  font-size:12px ;
  padding-right:5px ;
  display:none ;
}

/* The popup chat - hidden by default */
.chat-popup{
  display: none ;
  position: fixed ;
  bottom: 0 ;
  right:0 ;
  border: 1px solid ;
  z-index: 9 ;
  height:400px;
  width:230px;
  background:white ;
}
/* chat-popup header */
.chat-header{
  width:100% ;
  height:35px ;
  background-color:#3273D4 ; 
  cursor:pointer ;
}
.chat-header h4{
  float: left ;
  color:white;
}
.btn-cancel{
  cursor: pointer ;
  height:100% ;
  border:none ;
  background-color:transparent ;
  width: 65% ;
}
.buttonsChatOpen{
  float:right ;
}
/* users */
.usersList{
  width:100% ;
  height:325px ;
  overflow-y: auto;
  overflow-x: hidden ;
}
.contact{
  display:inline ;

}
.user:hover{
  background: rgb(113, 162, 235) ;
}
.contacts{
  list-style: none ;
  padding: 0 ;
  margin-top:0 ;

}
.contacts li{
  width: 100%;
  padding: 5px 10px ;
  cursor:pointer ;
  margin-bottom: 15px ;
}

.user_info{
position :relative ;
margin-top:-30px ;
margin-left:45px ;

}

.img_cont{
  
  width: 35px ;
}
.img_cont img{
width:100% ;
border-radius:50% ;
}

/*chat-footer */
.chat-footer{
  height: 100% ;
  border-top: 1px solid grey ;
  width:100%;
}
.form-control-search{
  height: 33px ;
  border: none ;
  width: 83% ;
  float: right ;
}
.input-group-search_btn {
  border: none ;
  background-color: white ;
  cursor: pointer ;
  outline:none ;
  font-size:18px ;
  
}
/* msg_box */

.msg_box{
  position:fixed ;
  background:white;
  width:250px;
  bottom:0 ;
  right:20px ;
  border: 1px solid ;
}
.msg_head{
  width:100% ;
  height:35px ;
  background-color:#3273D4 ; 
  cursor:pointer ;
  padding-left:5px ;
}
.msg_body{
  width:100%;
  height:250px ;
  overflow:auto;
  overflow-x:hidden ;
}

.buttonsChat{
  float:right ;
  display:inline-flex ;
  padding-right:5px;

}

.closeChat{
  font-size: 25px ;
  margin-top:-4px ;
  cursor: pointer ;
  margin-left:5px ;
}
.msg_input{
  width:100%;
  border:transparent;
  border-top:1px solid;
  outline : transparent ;
  height: 35px ;
  overflow: hidden;
}
.msg_footer{
  display: inline-flex;
  width: 100%;
  
}
#inviaMsg{
  border: none;
  border-top: 1px solid black;
  background: transparent;
  color: rgb(113, 162, 235);
  cursor:pointer ;
}

/*CSS messaggi */
.msg-left{
  position:relative;
  background:#e2e2e2;
  padding:5px;
  min-height:10px;
  margin-bottom:5px;
  margin-right:10px;
  border-radius:5px ;
  margin-left:10px ;
  word-break: break-all;
  margin-top: 2px ;
 }
 .msg-left:before{
   content:"";
   position:absolute ;
   width:0;
   height:0;
   border-style: solid;
   left: -10px;
   top:0;
   border-width: 0 13px 13px 0;
   border-color:transparent #e2e2e2 transparent transparent;
 }
 
 .msg-right{
  background :  #d4e7fa ;
  padding:5px;
  min-height:15px ;
  margin-bottom:5px;
  position:relative ;
  margin-left:10px;
  margin-right:10px ;
  border-radius:5px ;
  word-break: break-all ;
  margin-top:2px;
 }
 .msg-right:after{
  content:"" ;
  position:absolute;
  width:0 ;
  height:0;
  border-style: solid ;
  right: -10px;
  top:0 ;
  border-width:13px 13px 0 0 ;
  border-color: #d4e7fa  transparent transparent transparent ;
}
 


