
.chat{
   
  padding: 16px 20px;
  border: 1px solid #555;
  opacity: 0.8;
  position: fixed;
  bottom: 0px;
  right:0px;
  height:4px;
  width: 180px;
  background: #f1f7f1;
}
.open-button{

  background-color: transparent;
  width: 160px;
  margin-top: -13px;
  margin-left:-19px;
  border: none;
  cursor: pointer;
  outline:none;
}
/*incona  */
.chat .online_icon{
  position: absolute;
  height: 10px;
  width:10px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.8em;
  right: 15em;
}

.fa.fa-sort-up{
  margin-top: -85px;
  margin-left: 120px;
  font-size: 20px;
  margin-bottom: -8px;
  color: lightgray;
}
.fa.fa-caret-up{
  margin-top: -14px;
  margin-left: 90px;
  font-size: 20px;
  margin-bottom: -8px;
  color: lightgray;
}
.fa.fa-check{
  position: absolute;
  margin-top: -26px;
  left: 149px;
  color: rgb(113, 162, 235);
}
.open-button h3{
  float: left;
  margin-top: 8px;
  margin-left: 40px;
  color:black;
 
}
.buttonsChatClose{
  float: right;
  margin-top: -7px;
}
 

#groupChat{
  font-size:20px;
  border:none;
  background-color: transparent;
  cursor: pointer;
  outline:none;
}
#settingsChat{
  font-size:20px;
  border:none;
  background-color: transparent;
  cursor: pointer;
  outline:none;
}
#settingsChatSingle{
  font-size:20px;
  border:none;
  background-color: transparent;
  cursor: pointer;
  outline:none;
}
/*Popup setting  */
#optionsSetting{
  position: fixed;
  background: lightgrey;
  right: 5px;
  top: 290px;
  z-index: 10;
  width: 145px;
  height: 70px;
  border-radius:5px;
  display:none;
}
.options{
  list-style: none;
  padding-left: 10px;
}
.options li{
  padding-bottom: 5px;
  cursor: pointer;
}
.options li:hover{
  background:#3273D4;
}

#optionsSettingChat{
  background: lightgrey;
  z-index: 10;
  width: 120px;
  height: auto;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  left: 115px;
  font-size:12px;
  padding-right:5px;
  display:none;
}

/* The popup chat - hidden by default */
.chat-popup{
  display: none;
  position: fixed;
  bottom: 0;
  right:0;
  border: 1px solid;
  z-index: 9;
  height:400px;
  width:230px;
  background:white;
}
/* chat-popup header */
.chat-header{
  width:100%;
  height:35px;
  background-color:#3273D4; 
  cursor:pointer;
}
.chat-header .online_icon{
  position: absolute;
  height: 10px;
  width:10px;
  background-color: #4cd137;
  border-radius: 50%;
  top: 0.8em;
  right: 15.4em;

}
.chat-header h3{
  float: left;
  margin-top: 8px;
  margin-left: 34px;
  color:black;
}
.btn-cancel{
  cursor: pointer;
  height:100%;
  border:none;
  background-color:transparent;
  width: 65%;
}
.buttonsChatOpen{
  float:right;
  margin-top: 7px;
}
/* users */
.usersList{
  height:326px;
  border:1px solid #eee;
  margin-top:0;
  overflow-y: auto;
  overflow-x: hidden;
}
.contact{
  display:inline;

}
.user:hover{
  background: rgb(113, 162, 235);
}
.contacts{
  list-style: none;
  padding: 0;
  margin-top:0;

}
.contacts li{
  width: 100% !important;
  padding: 5px 10px;
  cursor:pointer;
  margin-bottom: 15px !important;
}

.user_info{
position :relative;
margin-top:-44px;
margin-left:45px;

}

.img_cont{
  
  width: 35px;
}
.img_cont img{
width:100%;
border-radius:50%;
}
.user_info .online_icon{
position: absolute;
height: 10px;
width:10px;
background-color: #4cd137;
border-radius: 50%;
right: 1.4em;
top:0.2em;
border:1.5px solid white;
}


.user_info .offline_icon{
position: absolute;
height: 10px;
width:10px;
background-color: #a3aaa2;
border-radius: 50%;
right: 1.4em;
top:0.2em;
border:1.5px solid white;
}

/*chat-footer */
.chat-footer{
  height: 100%;
  border-top: 1px solid grey;
  width:100%;
}
.form-control-search{
  height: 36px;
  border: none;
  width: 83%;
  float: right;
}
.input-group-search_btn{
  border: none;
  background-color: white;
  margin-left: 10px;
  margin-top: 12px;
  cursor: pointer;
  outline:none;
  
}
/* msg_box */

.msg_box{
  position:fixed;
  background:white;
  width:250px;
  bottom:0;
  right:20px;
  border: 1px solid;
}
.msg_head{
  width:98%;
  height:35px;
  background-color:#3273D4; 
  cursor:pointer;
  padding-top:5px;
  padding-left:5px;
}
.msg_body{
  height:250px;
  overflow:auto;
  overflow-x:hidden;
}

.buttonsChat{
  float:right;
  display:inline-flex;
  padding-right:5px;

}

.closeChat{
  font-size: 25px;
  margin-top:-4px;
  cursor: pointer;
}
.msg_input{
  width:100%;
  border:transparent;
  border-top:1px solid;
}
.msg_footer{
  display: inline-flex;
  width: 100%;
  
}
#inviaMsg{
  border: none;
  border-top: 1px solid black;
  background: transparent;
  color: rgb(113, 162, 235);
  cursor:pointer;
}
#allegaFile{
  border: none;
  border-top: 1px solid black;
  background: transparent;
  cursor:pointer;
}
/*CSS messaggi */
.msg-left{
  position:relative;
  background:#e2e2e2;
  padding:5px;
  min-height:10px;
  margin-bottom:5px;
  margin-right:10px;
  border-radius:5px;
  margin-left:10px;
  word-break: break-all;
  margin-top: 2px;
 }
 .msg-left:before{
   content:"";
   position:absolute;
   width:0;
   height:0;
   border-style: solid;
   left: -10px;
   top:0;
   border-width: 0 13px 13px 0;
   border-color:transparent #e2e2e2 transparent transparent;
 }
 
 .msg-right{
  background:#d4e7fa;
  padding:5px;
  min-height:15px;
  margin-bottom:5px;
  position:relative;
  margin-left:10px;
  margin-right:10px;
  border-radius:5px;
  word-break: break-all;
  margin-top:2px;
 }
 .msg-right:after{
  content:"";
  position:absolute;
  width:0;
  height:0;
  border-style: solid;
  right: -10px;
  top:0;
  border-width:13px 13px 0 0;
  border-color: #d4e7fa  transparent transparent transparent;
}
 
/* Chat di gruppo */

.creaGruppo{
  display:none;
  position:fixed;
  width: 320px;
  height: auto;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  top: 15%;
  left: 35%;
  z-index:9;
  background:white;
}


#inputGroupName{
  border-bottom: 1px solid grey;
  width: 330px;
  margin-left: -5px;
}
#inputGroupName input{
  width:92%;
  margin: 10px;

}
.searchUser input{
  width:95%;
  margin: 10px 5px;
}
.creaGruppo fieldset{
  width:295px;
  height:auto;
  padding:5px;
  margin-bottom:10px;
  margin-left:8px;
}
.selectUsers{
  border-bottom: 1px solid grey;
  width: 103%;
  margin-left: -5px;
}
.utentiSelezionati img{
  width:30px;
}
.utentiSelezionati p{
  display: inline-block;
  position: relative;
  top: -10px;
  left: 10px;
}
.utentiSelezionati input{
  float:right;
  margin-top:12px;
}
.buttonsFormGroup{
  margin-left: 200px;
  padding-top: 10px;
  padding-left: -9px;

}
/* Aggiungi Membro */
#aggiungiMembro{
  position:fixed;
  width: 320px;
  height: auto;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  top: 15%;
  left: 35%;
  z-index:9;
  background:white;
  display:none;
}
.buttonsAddMember{
  float:right;
  padding:5px;
}
