
header{
	padding: 5px;
  	background: #5A6978;
	color: white;
  	position: relative;
}
.border{
	border-radius: 5px;
}
a{
	color: white;
}
td>a{
	color:grey;
}
.x_content a{
	color: #000;
}
body{
	color:#000;
	background:#F7F7F7;
	font-size:13px;
	font-weight:400;
	line-height:1.471
}
.profile_title{
	background:#fff;
}
.text-center{
	text-align: center;
}
.panel_toolbox{
	min-width: 0px;
}
.panel_toolbox>li>a{
	color:#000;
}
.form-control{
	border-radius: 6px;
	width:100%;
}
td{
	color:grey;
}
th{
	width: 150px;
}textarea.form-control{
	border: 0px;
}
.card{
	border: 0px;
}
.modal-footer{
	border-top: 0px;
	padding-top: 20px;
	padding-bottom: 5px;
}
.form-row>h6{
	margin-bottom: 0px;
	margin-top: 7px;
	height: 22px;
	font-size: 15px;
}
div2.x_title{
	padding: 6px 5px 6px;
}
div3>input{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
}
div4>input{
	padding: 0px;
	margin-top: 4px;
}
.card{
	background:#F7F7F7;
}
.input{
	margin-top: 2px;
	margin-bottom: 5px;
}