{
    "all": true,
    "cache": false,
    "include": [
         "**/routes/**.js"
    ],
    "exclude": [
        "**/app.js",
        "**/coverage/**/**.js",
        "**/model/",
        "**/upl.js",
        "**/rcpPassword.js",
        "**/tag.js"
      ],
    "extensions": [
        ".js"
    ],
    "report-dir": "./coverage",
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "temp-directory": "./coverage/.nyc_output"
}